<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>E621 API Status | Readonly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="https://e621.ws/icon.png" type="image/png">
    <meta name="theme-color" content="#002D56">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@500">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        * {
            font-family: "Raleway", sans-serif;
            line-height: 1.3;
        }

        body {
            background-color: #012E57;
        }

        h1,
        h2 {
            color: #B8BEC4;
            margin-top: 2vh;
        }
    </style>
</head>

<body class="text-responsive">
    <h2 class="text-center">
        We're currently in read-only mode. Try again later.
    </h2>
</body>

</html>
