<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		Penises Are Cool
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta content="Penises Are Cool" name="description">

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="https://penises.butts-are.cool/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://penises.butts-are.cool/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://penises.butts-are.cool/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://penises.butts-are.cool/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://penises.butts-are.cool/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://penises.butts-are.cool/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://penises.butts-are.cool/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://penises.butts-are.cool/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://penises.butts-are.cool/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://penises.butts-are.cool/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://penises.butts-are.cool/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://penises.butts-are.cool/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://penises.butts-are.cool/favicon-16x16.png">
	<link rel="manifest" href="https://penises.butts-are.cool/manifest.json">
	<meta name="msapplication-TileColor" content="#00FFFF">
	<meta name="msapplication-TileImage" content="https://penises.butts-are.cool/ms-icon-144x144.png">
	<meta name="theme-color" content="#00FFFF">

	<!--Open Graph-->
	<meta property="og:title" content="Penises Are Cool">
	<meta property="og:site_name" content="Penises Are Cool">
	<meta property="og:description" content="Penises are cool.">
	<meta property="og:url" content="https://penises.butts-are.cool">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:locale:alternate" content="en_UK">
	<meta property="og:image" content="https://penises.butts-are.cool/image-ogp.png">
	<meta property="og:image:secure_url" content="https://penises.butts-are.cool/image-ogp.png">
	<meta property="og:image:type" content="image/x-png">
	<meta property="og:image:width" content="700">
	<meta property="og:image:height" content="700">
	<meta property="og:image:alt" content="Penises Are Cool - Icon">

	<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Donovan_DMC">
	<meta name="twitter:creator" content="@Donovan_DMC">
	<meta name="twitter:title" content="Penises Are Cool">
	<meta name="twitter:description" content="Penises Are Cool.">
	<meta name="twitter:image" content="https://penises.butts-are.cool/image.png">
	<meta name="Twitter:image:alt" content="Penises Are Cool Icon">

	<!--Browser Caching-->
	<meta http-equiv="Cache-control" content="public">

	<!--Dublin Core - DC-->

	<meta name="DC.Title" lang="en" content="Penises Are Cool">
	<meta name="DC.Creator" lang="en" content="Donovan_DMC">
	<meta name="DC.Subject" lang="en" content="Entertainment">
	<meta name="DC.Description" lang="en" content="Penises Are Cool.">
	<meta name="DC.Publisher" lang="en" content="Donovan_DMC">
	<meta name="DC.Contributor" lang="en" content="Self">
	<meta name="DC.Date" lang="en" content="{{ year }}">
	<meta name="DC.Type" lang="en" content="text">
	<meta name="DC.Format" lang="en" content="text/html">
	<meta name="DC.Language" lang="en" content="en-US">
	<meta name="DC.Rights" lang="en" content="All members can access">
	<link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
	<link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">
	<style nonce="{{ nonce }}">
		body {
			background-color: #2C2F33;
		}

		* {
			color: #FFFFEA;
		}
	</style>
</head>

<body>
	<center>
		<h1>
			Penises Are Cool
		</h1>
		<a href="https://e621.net/posts/2442378">
			<img src="https://static1.e621.net/data/e9/d4/e9d4ecad0f09496b9d6fbb44b8ef3926.jpg"
				style="max-width: 80vw; max-height: 70vh;">
		</a>
		<br>
		<br>
		<br>
		<h1>
			Site by <a href="https://furry.cool">Donovan_DMC</a>
		</h1>
	</center>
</body>

</html>
