<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Donovan _DMC - Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="https://i.furry.cool/DonMaidCrop.png" type="image/png">
	<meta name="description" content="Hi, I'm Donovan! I like to code and do other random things!">
	<meta name="keywords"
		content="Donovan_D Donovan_DMC Donovan JavaScript TypeScript Node NodeJS Furry FurryBot Discord">
	<meta name="theme-color" content="#0FF">
	<meta charset="UTF-8">

	<!-- Site Verification -->
	<meta name="wot-verification" content="61f94cfcf30ad4dcaaa5">
	<meta name="google-site-verification" content="b1oYVWgjf9xvPOV4kabSReQ2U7HT5kOJDfR2jXhHia0">

	<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Donovan_DMC">
	<meta name="twitter:creator" content="@Donovan_DMC">
	<meta name="twitter:title" content="Donovan_DMC - Info">
	<meta name="twitter:description" content="Hi, I'm Donovan! I like to code and do other random things!">
	<meta name="twitter:image" content="https://i.furry.cool/DonMaidCrop.png">
	<meta name="Twitter:image:alt" content="Donovan_DMC's Logo">

	<!--Browser Caching-->
	<meta http-equiv="Cache-control" content="public">

	<!--Dublin Core - DC-->
	<meta name="DC.Title" lang="en" content="Donovan_DMC - Info">
	<meta name="DC.Creator" lang="en" content="Donovan_DMC">
	<meta name="DC.Subject" lang="en" content="Information">
	<meta name="DC.Description" lang="en" content="Hi, I'm Donovan! I like to code and do other random things!">
	<meta name="DC.Publisher" lang="en" content="Donovan_DMC">
	<meta name="DC.Contributor" lang="en" content="Self">
	<meta name="DC.Date" lang="en" content="{{ year }}">
	<meta name="DC.Type" lang="en" content="text">
	<meta name="DC.Format" lang="en" content="text/html">
	<meta name="DC.Language" lang="en" content="en-US">
	<meta name="DC.Rights" lang="en" content="All members can access">
	<link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
	<link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">

	<!--Open Graph-->
	<meta property="og:title" content="Donovan_DMC - Info">
	<meta property="og:site_name" content="Donovan_DMC - Info">
	<meta property="og:description" content="Hi, I'm Donovan! I like to code and do other random things!">
	<meta property="og:url" content="https://furry.cool">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://i.furry.cool/DonMaidCrop.png">
	<meta property="og:image:secure_url" content="https://i.furry.cool/DonMaidCrop.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="885">
	<meta property="og:image:height" content="885">
	<meta property="og:image:alt" content="Discord Icon">
	<style>
		body {
			background-color: #2C2F33;
		}

		.hide {
			color: #2C2F33;
		}

		h1,
		h2 {
			color: #0FF;
		}

		div#buttons button.stop {
			position: fixed;
			left: 5px;
			bottom: 5px;
		}

		div#buttons button.start {
			position: fixed;
			right: 5px;
			bottom: 5px;
		}

		button.hidden {
			display: none;
		}
	</style>
	<script>
		window.active = true;
		const colors = ["FFF", "0FF", "00F", "F00", "F0F", "0F0", "d511b5", "00b41c", "e003dd", "ce0380"],
			used = [];

		function gen() {
			const v = colors[Math.floor(Math.random() * colors.length)];
			if (used.includes(v)) return gen();
			else used.push(v);
			return v;
		}

		window.i = setInterval(() => {
			used.splice(0, 10);
			if (!window.active) return;
			const elements = [
				...Array.from(document.querySelectorAll(".random")),
				...Array.from(document.querySelectorAll("a"))
			];

			for (const e of elements) {
				const c = gen();
				e.style.color = `#${c}`;
			}
		}, 1e3);
	</script>
	<script defer src="https://assets.furry.bot/js/birthday.js"
		integrity="sha384-ueFoIZ/2ICdFuxe9YTanhNmKzf9swTZLLWiPbWqMNNvJmu/RYXQp2wiVzDlbSmg0"
		crossorigin="anonymous"></script>
	<script src="https://assets.furry.bot/js/confetti.min.js"
		integrity="sha384-ouCr2+SOafoVj7gJWAIQcFzrZPAwG5GFbUeRm9ci0QbfsieTbP/uL7bG6geNOyRj"
		crossorigin="anonymous"></script>
</head>

<body>
	<h1>
		<center>
			<p class="random">Pardon the blandness, but I'm a lazy ass and can't be bothered to fix this.</p>
		</center>
	</h1>

	<h2>
		<center>
			<p class="random">Go look at stuff</p><br>
			<br>
			<br>
			<a href="https://twitter.com/Donovan_DMC">Twitter</a><br>
			<a href="https://maid.gay">Discord Bot</a><br>
			<a href="https://discord.gg/naPv33pBmh">Discord Server</a><br>
			<span class="hide">Hi</span>
		</center>
	</h2>

	<div id="buttons">
		<button class="stop"
			onclick="window.active=false;this.classList.add('hidden');this.parentNode.querySelectorAll('button')[1].classList.remove('hidden');">Click
			to turn off changing colors.</button>
		<button class="start hidden"
			onclick="window.active=false;this.classList.add('hidden');this.parentNode.querySelectorAll('button')[1].classList.remove('hidden');">Click
			to turn changing colors back on.</button>
		</button>

</body>

</html>
