<html lang="en">

  <head>
    <title>Donovan _DMC - Info</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      href="https://i.furry.cool/DonPride.png"
      type="image/png"
    />
    <meta
      name="description"
      content="Hi, I'm Donovan! I like to code and do other random things!"
    />
    <meta
      name="keywords"
      content="Donovan_D Donovan_DMC Donovan JavaScript TypeScript Node NodeJS Furry FurryBot Discord"
    />
    <meta name="theme-color" content="#0FF" />
    <meta charset="UTF-8" />

    <!-- Site Verification -->
    <meta name="wot-verification" content="61f94cfcf30ad4dcaaa5" />
    <meta
      name="google-site-verification"
      content="b1oYVWgjf9xvPOV4kabSReQ2U7HT5kOJDfR2jXhHia0"
    />

    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Donovan_DMC" />
    <meta name="twitter:creator" content="@Donovan_DMC" />
    <meta name="twitter:title" content="Donovan_DMC - Info" />
    <meta
      name="twitter:description"
      content="Hi, I'm Donovan! I like to code and do other random things!"
    />
    <meta name="twitter:image" content="https://i.furry.cool/DonPride.png" />
    <meta name="Twitter:image:alt" content="Donovan_DMC's Logo" />

    <!--Browser Caching-->
    <meta http-equiv="Cache-control" content="public" />

    <!--Dublin Core - DC-->
    <meta name="DC.Title" lang="en" content="Donovan_DMC - Info" />
    <meta name="DC.Creator" lang="en" content="Donovan_DMC" />
    <meta name="DC.Subject" lang="en" content="Information" />
    <meta
      name="DC.Description"
      lang="en"
      content="Hi, I'm Donovan! I like to code and do other random things!"
    />
    <meta name="DC.Publisher" lang="en" content="Donovan_DMC" />
    <meta name="DC.Contributor" lang="en" content="Self" />
    <meta name="DC.Date" lang="en" content="{{year}}" />
    <meta name="DC.Type" lang="en" content="text" />
    <meta name="DC.Format" lang="en" content="text/html" />
    <meta name="DC.Language" lang="en" content="en-US" />
    <meta name="DC.Rights" lang="en" content="All members can access" />
    <link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/" />

    <!--Open Graph-->
    <meta property="og:title" content="Donovan_DMC - Info" />
    <meta property="og:site_name" content="Donovan_DMC - Info" />
    <meta
      property="og:description"
      content="Hi, I'm Donovan! I like to code and do other random things!"
    />
    <meta property="og:url" content="https://furry.cool" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://i.furry.cool/DonPride.png" />
    <meta
      property="og:image:secure_url"
      content="https://i.furry.cool/DonPride.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="4000" />
    <meta property="og:image:height" content="4000" />
    <meta property="og:image:alt" content="Donovan's Icon" />
    <style>
      html, body { height: 100%; margin: 0; padding: 0; width: 100%; } body {
      background-color: #2C2F33; display: table; font-family: "Montserrat",
      sans-serif; } h1, h2, a { color: #2C9EDA; } div#main { text-align: center;
      display: table-cell; vertical-align: middle; } span.spacer { margin-left:
      0.2rem; margin-right: 0.2rem; } a:visited { color: #56B9ED; } img.logo {
      max-width: 20%; margin-bottom: 0.5rem; }
    </style>
  </head>

  <body>
    <div id="main">
      <center>
        <img class="logo" src="https://i.furry.cool/DonPrideTransparent.png" />
      </center>
      <h1>
        <center>Donovan_DMC</center>
      </h1>
      <h2>
        <center>
          <br />
          <br />
          <a href="https://twitter.com/Donovan_DMC">Twitter</a>
          <span class="spacer">|</span>
          <a href="https://github.com/DonovanDMC">Github</a>
          <span class="spacer">|</span>
          <a href="https://maidboye.cafe">Discord Bot</a>
          <br />
          <a href="https://discord.gg/naPv33pBmh">Discord Server</a>
          <span class="spacer">|</span>
          <a href="https://github.com/OceanicJS/Oceanic">Discord Bot Library</a>
          <span class="spacer">|</span>
          <a href="https://github.com/DonovanDMC/E621">E621 Library</a>
        </center>
      </h2>
    </div>

  </body>

</html>
