<!DOCTYPE html>
<html>

<head>
	<title>Shark Puppy</title>
	<meta http-equiv="refresh" content="0; url = https://e926.net/post_sets/26098" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta content="Vress the shark puppy." name="description">

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="https://v.furry.cool/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://v.furry.cool/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://v.furry.cool/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://v.furry.cool/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://v.furry.cool/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://v.furry.cool/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://v.furry.cool/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://v.furry.cool/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://v.furry.cool/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://v.furry.cool/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://v.furry.cool/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://v.furry.cool/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://v.furry.cool/favicon-16x16.png">
	<link rel="manifest" href="https://v.furry.cool/manifest.json">
	<meta name="msapplication-TileColor" content="#88BCFD">
	<meta name="msapplication-TileImage" content="https://v.furry.cool/ms-icon-144x144.png">
	<meta name="theme-color" content="#88BCFD">

	<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@vress_shark">
	<meta name="twitter:creator" content="@vress_shark">
	<meta name="twitter:title" content="Shark Puppy">
	<meta name="twitter:description" content="Vress the shark puppy.">
	<meta name="twitter:image" content="https://v.furry.cool/vress.png">
	<meta name="Twitter:image:alt" content="Vress Icon">

	<!--Browser Caching-->
	<meta http-equiv="Cache-control" content="public">

	<!--Dublin Core - DC-->
	<meta name="DC.Title" lang="en" content="Shark Puppy">
	<meta name="DC.Creator" lang="en" content="Donovan_DMC">
	<meta name="DC.Subject" lang="en" content="Entertainment">
	<meta name="DC.Description" lang="en" content="Vress the shark puppy.">
	<meta name="DC.Publisher" lang="en" content="Donovan_DMC">
	<meta name="DC.Contributor" lang="en" content="Self">
	<meta name="DC.Date" lang="en" content="{{ year }}">
	<meta name="DC.Type" lang="en" content="text">
	<meta name="DC.Format" lang="en" content="text/html">
	<meta name="DC.Language" lang="en" content="en-US">
	<meta name="DC.Rights" lang="en" content="All members can access">
	<link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
	<link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">

	<!--Open Graph-->
	<meta property="og:title" content="Shark Puppy">
	<meta property="og:site_name" content="Shark Puppy">
	<meta property="og:description" content="Vress the shark puppy.">
	<meta property="og:url" content="https://v.furry.cool">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:locale:alternate" content="en_UK">
	<meta property="og:image" content="https://v.furry.cool/vress.png">
	<meta property="og:image:secure_url" content="https://v.furry.cool/vress.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="448">
	<meta property="og:image:height" content="448">
	<meta property="og:image:alt" content="Vress Icon">
</head>

</html>
