<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta name="description" content="A site breifly describing the nature of Furries and the Furry Fandom">
	<meta name="keywords" content="Furry, Furries, Furry Fandom, Costuming, Fursuit, Fursuiting, Yiff, Yiffy">
	<meta name="distribution" content="Global">
	<meta name="robots" content="index,follow">
	<link rel="icon" type="image/jpeg" href="https://assets.furry.cool/images/what.jpg">
	<link rel="favicon" type="image/jpeg" href="https://assets.furry.cool/images/what.jpg">

	<link rel="stylesheet" href="https://assets.furry.cool/css/what.css"
		integrity="sha384-rD7DbgPUYEgUzUBRGIi5EoF+MN3E7v/SNnlDa7Mu/UYs2SAs4dWyAgC5ptaZ8YaW" crossorigin="anonymous">
	<title>What Is "Furry"</title>

	<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Donovan_DMC">
	<meta name="twitter:creator" content="@Donovan_DMC">
	<meta name="twitter:title" content="What is &quot;Furry&quot;">
	<meta name="twitter:description" content="A site breifly describing the nature of Furries and the Furry Fandom.">
	<meta name="twitter:image" content="https://assets.furry.cool/images/what.jpg">
	<meta name="Twitter:image:alt" content="Some Furry Icon">

	<!--Browser Caching-->
	<meta http-equiv="Cache-control" content="public">

	<!--Dublin Core - DC-->
	<meta name="DC.Title" lang="en" content="What is &quot;Furry&quot;">
	<meta name="DC.Creator" lang="en" content="Donovan_DMC">
	<meta name="DC.Subject" lang="en" content="Entertainment">
	<meta name="DC.Description" lang="en"
		content="A site breifly describing the nature of Furries and the Furry Fandom.">
	<meta name="DC.Publisher" lang="en" content="Donovan_DMC">
	<meta name="DC.Contributor" lang="en" content="Self">
	<meta name="DC.Date" lang="en" content="{{ year }}">
	<meta name="DC.Type" lang="en" content="text">
	<meta name="DC.Format" lang="en" content="text/html">
	<meta name="DC.Language" lang="en" content="en-US">
	<meta name="DC.Rights" lang="en" content="All members can access">
	<link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
	<link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">

	<!--Open Graph-->
	<meta property="og:title" content="What is &quot;Furry&quot;">
	<meta property="og:site_name" content="What is &quot;Furry&quot;">
	<meta property="og:description" content="A site breifly describing the nature of Furries and the Furry Fandom.">
	<meta property="og:url" content="https://what-is.furry.cool">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:locale:alternate" content="en_UK">
	<meta property="og:image" content="https://assets.furry.cool/images/what.jpg">
	<meta property="og:image:secure_url" content="https://assets.furry.cool/images/what.jpg">
	<meta property="og:image:type" content="image/x-png">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="1000">
	<meta property="og:image:alt" content="Some Furry Icon">
</head>

<body>
	<!-- Wrap -->
	<div id="wrap">

		<!-- Header -->
		<div id="header">

			<h1 id="logo">What is <span class="gray">Furry?</span></h1>

		</div>



		<!--Content Wrap -->
		<div id="content-wrap">

			<div id="main">

				<h1>What is furry?</h1>

				<p>The term &ldquo;Furry&rdquo; is used to describe the <a
						href="https://en.wikipedia.org/wiki/Furry_Fandom" target="_blank">Furry Fandom</a> or an
					individual &ldquo;Furry&rdquo; fan, also referred to as
					&ldquo;Furries&rdquo;.
				</p>
				<p>The Furry Fandom grew out of the science fiction and fantasy communities as a unique group focused on
					anthropomorphic animals and creatures. Anthropomorphic animals are animals with human
					characteristics such as the familiar cartoon characters Bugs Bunny and Mickey Mouse or popular
					mascots like the Philadelphia Eagle or San Diego Chicken.</p>
				<p>The Furry Fandom is a broad community of people that come from all ranges of socioeconomic and
					political backgrounds. Different people count themselves as &ldquo;Furries&rdquo; for equally broad
					reasons.
					Some are fans or artists of visual, written or theatrical arts such as animated cartoons and fantasy
					stories. Some are mascot and character fans or performers such as professional theme park and
					corporate mascots or volunteer character performers. Some are Therians or people with strong
					personal or spiritual connections to animals similar to some Native American cultures.</p>
				<p>Because the Furry Fandom encompasses such a wide range of people and interests, to term someone as a
					&ldquo;Furry&rdquo; is similar to calling someone a &ldquo;Sports Fan&rdquo;. The term &ldquo;Sports
					Fan&rdquo; itself
					does not identify
					the sport in which a person is interested, at what level or even which teams or regions in which
					they take an interest. Similarly a Furry could be a costumed performer with no interest in cartoons
					or an artist or animator with no interest in or familiarity with costuming.</p>
				<p>You are encouraged not to judge this very broad group of proud and individually unique people, but
					rather to learn what is important to each. Although some can be shy, and many will not speak while
					in costume, most Furries are generally very friendly and willing to share their individual interest
					in the community with those who show genuine curiosity. </p>

				<h1>FAQs</h1>
				<p><em>&ldquo;Why do TV shows define &lsquo;Furries&rsquo; as people who have sex in animal
						costumes?&rdquo;</em>
				</p>
				<p>Television producers are business people who have a responsibility to their company and stockholders
					to make money, typically through advertising revenue based on viewership. Unusual and salacious
					subjects typically attract larger audiences and thus earn them more revenue. Put simply; Sex Sells.
					A show about Furries having sex in animal costumes, or perhaps a more mainstream science fiction
					fandom, such as Trekkies having sex in Star Trek uniform, will sell more advertising regardless of
					whether these shows are fair or accurate portrayals of these groups as a whole.</p>
				<p><em>&ldquo;Are &lsquo;Furries&rsquo; people who have sex in animal costumes?&rdquo;</em></p>
				<p>No. It is not uncommon for adults to dress up in uniforms, costumes or other outfits and role play as
					part of a healthy sexual relationship. Most Furries do not own costumes and many take no interest in
					costuming. Those who are interested in costumes often own very expensive custom created
					&ldquo;Fursuits&rdquo;.
					They are often very proud of the quality and construction of these &ldquo;Fursuits&rdquo; and are
					unlikely
					to
					engage in activities that would harm the quality of the costume or the image of their character.
					Chances are there are many more people being intimate in an animal costume each day who are not
					Furry than there are Furries willing to take a similar risk with their characters.</p>
				<p><em>&ldquo;Are &lsquo;Furries&rsquo; people who have sex with animals?&rdquo;</em></p>
				<p>No. Sex with animals or Bestiality is illegal in most countries and most states in the US. Because
					many Furries have a personal connection with animals, most are very strongly opposed to Bestiality
					or any activity that harms animals.</p>

			</div>

			<!--End content-wrap-->
		</div>

		<!-- Footer -->
		<div id="footer">

			<p>&copy; {{ year }}
			</p>

		</div>

		<!-- END Wrap -->
	</div>
	<!-- https://www.theguardian.com/commentisfree/2017/mar/21/furry-wild-side-fursona-animal-nature -->
	<!-- https://www.theguardian.com/fashion/2016/feb/04/furry-fandom-subculture-animal-costumes -->


</body>

</html>
