<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		YiffyAPI - Count Servers
	</title>
	<meta charset="UTF-8">
</head>

<body>
	Total Servers: {{ total }}<br>
	Owner of: {{ owner }}<br>
	Admin of: {{ admin }} ({{ adminOwner }})<br>
	<br>
	Other Links:
	<ul>
		<li><a href="/flags">Flags</a></li>
		<li><a href="/count-servers">Refresh Servers</a></li>
	</ul>
</body>

</html>
