<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		YiffyAPI - Flags
	</title>
	<meta charset="UTF-8">
</head>

<body>
	Number: {{ publicNumber }} ([A] {{ allNumber }})<br>
	<br>
	Flags:<br>
	{{#each publicFlags}}
	- {{this}}<br>
	{{/each}}
	<br>
    {{#if allFlags}}
        {{#each allFlags}}
        - [A] {{this}}<br>
        {{/each}}
    {{/if}}
	Other Links:
	<ul>
		<li><a href="/count-servers">Count Servers</a></li>
		<li><a href="/flags">Refresh Flags</a></li>
	</ul>
</body>

</html>
