<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		YiffyAPI - Flags
	</title>
	<meta charset="UTF-8">
</head>

<body>
	Number: {{ number }}<br>
	<br>
	Flags:<br>
	{{#each flags}}
	- {{this}}<br>
	{{/each}}
	<br>
	Other Links:
	<ul>
		<li><a href="/count-servers">Count Servers</a></li>
		<li><a href="/flags">Refresh Flags</a></li>
	</ul>
</body>

</html>
