<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>
		YiffyAPI - Discord Utilities
	</title>
	<meta charset="UTF-8">
</head>

<body>
	<ul>
		<li>
			<a href="/count-servers">Count Servers</a>
		</li>
		<li>
			<a href="/flags">Flags</a>
		</li>
	</ul>
</body>

</html>
