<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Oceanic</title>
	<link rel="shortcut icon" href="https://i.oceanic.ws/icon.png" type="image/png">
	<meta name="description" content="A NodeJS library for interfacing with Discord.">
	<meta name="keywords" content="oceanic oceanic.js discord discord.js node node.js eris biscuit detritus droff harmony snowtransfer tiscord discall discord-api">
	<meta name="theme-color" content="#0FF">
	<meta charset="UTF-8">

	<!--Browser Caching-->
	<meta http-equiv="Cache-control" content="public">

	<!--Dublin Core - DC-->
	<meta name="DC.Title" lang="en" content="Oceanic">
	<meta name="DC.Creator" lang="en" content="Donovan_DMC">
	<meta name="DC.Subject" lang="en" content="Information">
	<meta name="DC.Description" lang="en" content="A NodeJS library for interfacing with Discord.">
	<meta name="DC.Publisher" lang="en" content="Donovan_DMC">
	<meta name="DC.Contributor" lang="en" content="Self">
	<meta name="DC.Date" lang="en" content="{{ year }}">
	<meta name="DC.Type" lang="en" content="text">
	<meta name="DC.Format" lang="en" content="text/html">
	<meta name="DC.Language" lang="en" content="en-US">
	<meta name="DC.Rights" lang="en" content="All members can access">
	<link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
	<link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">

	<!--Open Graph-->
	<meta property="og:title" content="Oceanic">
	<meta property="og:site_name" content="Oceanic">
	<meta property="og:description" content="A NodeJS library for interfacing with Discord.">
	<meta property="og:url" content="https://i.oceanic.ws">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://i.oceanic.ws/icon.png">
	<meta property="og:image:secure_url" content="https://i.oceanic.ws/icon.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="900">
	<meta property="og:image:height" content="600">
	<meta property="og:image:alt" content="Oceanic Icon">
	<style>
		body {
			background-color: #2C2F33;
		}

		h1, h3 {
			color: #2A5099;
		}

		span.spacer {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		a:visited {
			color: #375a9e;
		}
	</style>
  </head>
  <body>
	<h1><center>Oceanic</center></h1>
	<h3>
		<center>
			<a href="https://github.com/OceanicJS/Oceanic">Github</a>
			<span class="spacer">|</span>
			<a href="https://docs.oceanic.ws">Documentation</a>
			<span class="spacer">|</span>
			<a href="https://npm.im/oceanic.js">NPM</a>
		</center>
	</h3>
  </body>
  </html>
