<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Maid Boye - Privacy Policy</title>
	<style>
		body {
			background-color: #2C2F33;
		}

		* {
			color: #56B9ED;
		}
	</style>
	</head>
	<body>
		<h1 id="information-we-collect">Information We Collect</h1>
		<p>We collect the following information from users:</p>
		<ul>
		<li>Guild IDs</li>
		<li>Channel IDs</li>
		<li>Message IDs</li>
		<li>User IDs</li>
		<li>Custom Guild Settings</li>
		<li>Deleted/Updated Message Content (if snipe features are enabled)</li>
		</ul>
		<p>Depending on what logging is enabled, we may use (but not store):</p>
		<ul>
		<li>Channels (create, delete, update)</li>
		<li>Emojis (create, delete, update)</li>
		<li>Members (add, remove, kick, ban add, ban remove)</li>
		<li>Roles (create, delete, update)</li>
		<li>Guild (update)</li>
		<li>Invites (create, delete, use)</li>
		<li>Messages (delete, delete bulk*, update)</li>
		<li>Threads (create, delete, update, join, leave, member update)</li>
		<li>Voice (join, leave, state update)</li>
		</ul>
		<p>* Bulk deletions are stored so the contents can be displayed. They are stored in an encrypted format and deleted after 30 days.</p>
		<h1 id="why-we-need-this-information">Why we need this information</h1>
		<p>We need this information to provide basic services, and to enhance the experience for the specific user.</p>
		<p>If sniping is enabled, we also store deleted and edited message content. These can be disabled on per user, and server wide. All content stored is fully encrypted, and stored for only 6 hours at most.</p>
		<h1 id="how-we-use-your-information">How we use your information</h1>
		<p>We use this information in the following ways:</p>
		<ul>
		<li>Providing the basic services of the bot</li>
		<li>Providing extra functionalities if enabled</li>
		<p>NO INFORMATION IS SHARED WITH ANY THIRD PARTIES</p>
		</ul>
		<h1 id="log-files">Log Files</h1>
		<p>To combat spam we store how many of each command a given user runs. The specifically entered content is not taken into account, nor are the server or channel.</p>
		<h1 id="data-removal">Data Removal</h1>
		<p>All message content will be removed after a set time. Snipes are removed after 6 hours, or as soon as they are &quot;sniped&quot;. Bulk deletion reports are deleted after 30 days, or upon request.</p>
		<p>To request your data be removed, please either contact us in our <a href="https://discord.gg/8k8WHcyf57">Discord Server</a>, or email <a href="mailto:hewwo@yiff.rocks">hewwo@yiff.rocks</a> with your request. If you want no user data to be collected further, we will blacklist you so you are completely ignored by us. Removal of this requires contacting a developer again.</p>
	</body>
</html>
