<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Yiff Rocks - URL Shortener</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://yiff.rocks/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://yiff.rocks/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://yiff.rocks/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://yiff.rocks/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://yiff.rocks/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://yiff.rocks/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://yiff.rocks/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://yiff.rocks/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://yiff.rocks/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://yiff.rocks/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://yiff.rocks/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://yiff.rocks/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://yiff.rocks/static/favicon-16x16.png">
    <link rel="manifest" href="https://yiff.rocks/static/manifest.json">
    <meta name="msapplication-TileColor" content="#00FFFF">
    <meta name="msapplication-TileImage" content="https://yiff.rocks/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#00FFFF">

    <!--Twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@yiffRocks">
    <meta name="twitter:creator" content="@Yiff Rocks">
    <meta name="twitter:title" content="Yiff Rocks - URL Shortener">
    <meta name="twitter:description" content="A url shortener made by furries, for furries.">
    <meta name="twitter:image" content="https://yiff.rocks/static/icon.png">
    <meta name="Twitter:image:alt" content="Yiff Rocks Icon">

    <!--Browser Caching-->

    <meta http-equiv="Cache-control" content="public">

    <!--Dublin Core - DC-->
    <meta name="DC.Title" lang="en" content="Yiff Rocks - URL Shortener">
    <meta name="DC.Creator" lang="en" content="Donovan_DMC">
    <meta name="DC.Subject" lang="en" content="Entertainment">
    <meta name="DC.Description" lang="en" content="A url shortener made by furries, for furries.">
    <meta name="DC.Publisher" lang="en" content="Donovan_DMC">
    <meta name="DC.Contributor" lang="en" content="Self">
    <meta name="DC.Date" lang="en" content="{{ locals.year }}">
    <meta name="DC.Type" lang="en" content="text">
    <meta name="DC.Format" lang="en" content="text/html">
    <meta name="DC.Language" lang="en" content="en-US">
    <meta name="DC.Rights" lang="en" content="All members can access">
    <link rel="schema.DC" lang="en" href="http://purl.org/dc/elements/1.1/">
    <link rel="schema.DCTERMS" lang="en" href="http://purl.org/dc/terms/">

    <!--Open Graph-->
    <meta property="og:title" content="Yiff Rockes - URL Shortener">
    <meta property="og:site_name" content="Yiff Rocks - URL Shortener">
    <meta property="og:description" content="A url shortener made by furries, for furries.">
    <meta property="og:url" content="https://yiff.rocks">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_UK">
    <meta property="og:image" content="https://yiff.rocks/static/icon.png">
    <meta property="og:image:secure_url" content="https://yiff.rocks/static/icon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="700">
    <meta property="og:image:height" content="700">
    <meta property="og:image:alt" content="Yiff Rocks Icon">
</head>

<body>
    <div id="main">
        <h1>
            <center>
                You can view the documentation <a href="https://docs.yiff.rest/shortener">here</a>.<br>We also have an <a href="https://npm.im/yiff-rocks">npm
                    module</a>.
            </center>
        </h1>
    </div>
</body>

</html>
